<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.gettuits.geozar"
        versionCode = "10"
        version     = "1.0.0">
 
    <name>GeoZAR</name>
 
    <description>Geolocalization services in Zaragoza</description>
 
    <author href="http://www.acme.net" email="gettuits@gmail.com"></author>
 
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
    

    <preference name="orientation" value="default" />
    <preference name="fullscreen" value="false" />

    <access origin="*" /> 


</widget>